body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.phone {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 580px;
  background-color: #000;
  border: 2px solid #c91111;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.phone .loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 6;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}
.phone .loader.inactive {
  opacity: 0;
}
.phone .loader .loader__content {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.phone .loader .loader__content .loader__content__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone .loader .loader__content .loader__content__img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.phone .loader .loader__content .loader__content__text {
  color: #fff;
  font-size: 0.6rem;
  font-weight: 600;
}
.phone .camera {
  position: absolute;
  top: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20px;
  z-index: 10;
}
.phone .camera::after, .phone .camera::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.phone .camera::after {
  width: 5px;
  height: 5px;
  background-color: #777;
  filter: blur(1px);
}
.phone .camera::before {
  width: 14px;
  height: 14px;
  background-color: #222;
}
.phone .volume__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4rem 0.6rem;
  background-color: #111;
  border-radius: 4px;
  z-index: 10;
}
.phone .volume__icon i {
  color: #fff;
}
.phone .volume__icon #volume__value {
  margin-top: 0.3rem;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}
.phone .side__button {
  position: absolute;
  z-index: 2;
  top: 35%;
  right: -3px;
  background-color: #c91111;
  width: 3px;
  height: 30px;
  cursor: pointer;
}
.phone .volume__buttons {
  position: absolute;
  height: 20%;
  top: 15%;
  left: -3px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 2;
}
.phone .volume__buttons .side__button {
  background-color: #c91111;
  width: 3px;
  height: 30px;
  cursor: pointer;
}
.phone .volume__buttons .side__button:nth-child(2) {
  margin-top: 2.1rem;
}
.phone .container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.5s ease;
}
.phone .container.inactive {
  opacity: 0;
  pointer-events: none;
}
.phone .container .top,
.phone .container .bottom {
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
  position: absolute;
  color: #fff;
  font-weight: normal;
}
.phone .container .top {
  justify-content: space-between;
  padding: 0 20px;
  top: 1.1rem;
  font-size: 0.7rem;
  -webkit-animation: toBottom 0.5s forwards;
          animation: toBottom 0.5s forwards;
}
.phone .container .top.inactive {
  opacity: 0;
  pointer-events: none;
}
.phone .container .top .left,
.phone .container .top .right,
.phone .container .top .battery {
  display: flex;
  align-items: center;
}
.phone .container .top #clock_icon {
  display: none;
}
.phone .container .top #clock_icon.alarm__icon--active {
  -webkit-animation: vibrate 1s infinite;
          animation: vibrate 1s infinite;
}
.phone .container .top #music_icon {
  display: none;
}
.phone .container .top .icon {
  padding-left: 0.3rem;
}
.phone .container .top .right .battery {
  padding-left: 0.3rem;
}
.phone .container .bottom {
  justify-content: space-around;
  padding: 0 20px;
  bottom: 0.5rem;
  font-size: 1.2rem;
  -webkit-animation: toTop 0.5s forwards;
          animation: toTop 0.5s forwards;
}
.phone .container .bottom.inactive {
  opacity: 0;
  pointer-events: none;
}
.phone .container .bottom .icon {
  cursor: pointer;
}
.phone .container .bottom .icon.circle {
  position: relative;
}
.phone .container .bottom .icon.circle::after {
  content: "";
  border: 2px solid #fff;
  width: 13px;
  height: 13px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.phone .container .bottom .icon.arrow, .phone .container .bottom .icon.bar {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.phone .container .bottom .icon.arrow {
  font-size: 2rem;
}
.phone .container .bottom .icon.bar {
  transform: rotate(90deg);
}
.phone .container .message__notify {
  position: absolute;
  top: 2.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.phone .container .message__notify.active {
  opacity: 1;
  pointer-events: all;
}
.phone .container .message__notify .message__notify__icon,
.phone .container .message__notify .message__notify__text {
  color: #fff;
  font-size: 0.6rem;
  font-weight: 500;
}
.phone .container .message__notify .message__notify__icon {
  padding-right: 0.3rem;
}

@-webkit-keyframes toTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes toTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes toBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes toBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes vibrate {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-1px);
  }
  40%, 80% {
    transform: translateX(1px);
  }
}
@keyframes vibrate {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-1px);
  }
  40%, 80% {
    transform: translateX(1px);
  }
}
.toggle__changes__modal {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  border-radius: 50%;
  background-color: #111;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.toggle__changes__modal i {
  color: #fff;
  font-size: 1.4rem;
}
.toggle__changes__modal i:hover {
  color: #ccc;
}

.modal__config {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
.modal__config.active {
  opacity: 1;
  pointer-events: all;
  top: 50%;
}
.modal__config .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  height: 50%;
  background-color: #111;
}
.modal__config .container .title {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
}
.modal__config .container #modal__closer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}
.modal__config .container #modal__closer:hover {
  color: #c91111;
}
.modal__config .container .alert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.2rem 1rem;
  margin: 1rem 0;
  width: 80%;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
.modal__config .container .alert #alert__status,
.modal__config .container .alert #alert__message {
  color: #fff;
}
.modal__config .container .alert #alert__status {
  font-size: 1.2rem;
  font-weight: 500;
}
.modal__config .container .alert #alert__message {
  font-size: 1rem;
  font-weight: 300;
}
.modal__config .container .alert.success {
  background-color: #52eb52;
  border: inset 3px solid #2d5f2d;
}
.modal__config .container .alert.error {
  background-color: #c91111;
  border: inset 3px solid #5f2d2d;
}
.modal__config .container .alert.active {
  opacity: 1;
  pointer-events: all;
}
.modal__config .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.modal__config .container .content .input__container {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}
.modal__config .container .content .input__container label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  padding-left: 0.5rem;
}
.modal__config .container .content .input__container input {
  width: 100%;
  padding: 6px 10px 6px 2rem;
  background-color: #222;
  border: none;
  color: #fff;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
}/*# sourceMappingURL=phone.css.map */