@import '../../css/variables.css';
#phone__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;
  height: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}
#phone__container.flip .front {
  transform: rotateY(180deg);
}
#phone__container.flip .back {
  transform: rotateY(0deg);
  opacity: 1;
}
#phone__container.flip .back .side_button,
#phone__container.flip .back .volume__buttons {
  visibility: visible;
}
#phone__container .front,
#phone__container .back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
#phone__container .back {
  transform: rotateY(180deg);
  opacity: 0;
  background-color: #c91111;
  border-radius: 40px;
}
#phone__container .back .logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  opacity: 0.3;
}
#phone__container .back .camera {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  max-width: 28px;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4rem;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#phone__container .back .camera span:not(:last-child) {
  width: 16px;
  height: 16px;
  background-color: #000;
}
#phone__container .back .camera span {
  box-shadow: inset 0 0 3px #ccc;
  margin: 0.2rem;
  border-radius: 50%;
}
#phone__container .back .camera span:last-child {
  width: 13px;
  height: 13px;
  background-color: #fff;
}
#phone__container .back .side__button {
  position: absolute;
  top: 35%;
  right: -3px;
  background-color: #c91111;
  width: 3px;
  height: 30px;
  cursor: pointer;
  visibility: hidden;
}
#phone__container .back .volume__buttons {
  visibility: hidden;
  position: absolute;
  height: 20%;
  top: 15%;
  left: -3px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
#phone__container .back .volume__buttons .side__button {
  background-color: #c91111;
  width: 3px;
  height: 30px;
  cursor: pointer;
}
#phone__container .back .volume__buttons .side__button:nth-child(2) {
  margin-top: 2.1rem;
}
#phone__container .phone {
  background-color: #000;
  border: 2px solid #c91111;
  border-radius: 40px;
}
#phone__container .phone .loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: var(--zindex-2);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}
#phone__container .phone .loader.inactive {
  opacity: 0;
}
#phone__container .phone .loader .loader__content {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#phone__container .phone .loader .loader__content .loader__content__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#phone__container .phone .loader .loader__content .loader__content__img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
#phone__container .phone .loader .loader__content .loader__content__text {
  color: #fff;
  font-size: 0.6rem;
  font-weight: 600;
}
#phone__container .phone .camera {
  position: absolute;
  top: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20px;
  z-index: var(--zindex-1);
}
#phone__container .phone .camera::after, #phone__container .phone .camera::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#phone__container .phone .camera::after {
  width: 5px;
  height: 5px;
  background-color: #777;
  filter: blur(1px);
}
#phone__container .phone .camera::before {
  width: 14px;
  height: 14px;
  background-color: #222;
}
#phone__container .phone .volume__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4rem 0.6rem;
  background-color: #111;
  border-radius: 4px;
  z-index: var(--zindex-1);
}
#phone__container .phone .volume__icon i {
  color: #fff;
}
#phone__container .phone .volume__icon #volume__value {
  margin-top: 0.3rem;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}
#phone__container .phone .side__button {
  position: absolute;
  z-index: var(--zindex-1);
  top: 35%;
  right: -3px;
  background-color: #c91111;
  width: 3px;
  height: 30px;
  cursor: pointer;
}
#phone__container .phone .volume__buttons {
  position: absolute;
  height: 20%;
  top: 15%;
  left: -3px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: var(--zindex-1);
}
#phone__container .phone .volume__buttons .side__button {
  background-color: #c91111;
  width: 3px;
  height: 30px;
  cursor: pointer;
}
#phone__container .phone .volume__buttons .side__button:nth-child(2) {
  margin-top: 2.1rem;
}
#phone__container .phone .container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.5s ease;
}
#phone__container .phone .container.inactive {
  opacity: 0;
  pointer-events: none;
}
#phone__container .phone .container .top,
#phone__container .phone .container .bottom {
  z-index: var(--zindex-1);
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-out;
  position: absolute;
  color: #fff;
  font-weight: normal;
}
#phone__container .phone .container .top {
  justify-content: space-between;
  padding: 0 20px;
  top: 1.1rem;
  font-size: 0.7rem;
  -webkit-animation: toBottom 0.5s forwards;
          animation: toBottom 0.5s forwards;
}
#phone__container .phone .container .top.inactive {
  opacity: 0;
  pointer-events: none;
}
#phone__container .phone .container .top .left,
#phone__container .phone .container .top .right,
#phone__container .phone .container .top .battery {
  display: flex;
  align-items: center;
}
#phone__container .phone .container .top #clock_icon {
  display: none;
}
#phone__container .phone .container .top #clock_icon.alarm__icon--active {
  -webkit-animation: vibrate 1s infinite;
          animation: vibrate 1s infinite;
}
#phone__container .phone .container .top #music_icon {
  display: none;
}
#phone__container .phone .container .top .icon {
  padding-left: 0.3rem;
}
#phone__container .phone .container .top .right .battery {
  padding-left: 0.3rem;
}
#phone__container .phone .container .bottom {
  justify-content: space-around;
  padding: 0 20px;
  bottom: 0.5rem;
  font-size: 1.2rem;
  -webkit-animation: toTop 0.5s forwards;
          animation: toTop 0.5s forwards;
}
#phone__container .phone .container .bottom.inactive {
  opacity: 0;
  pointer-events: none;
}
#phone__container .phone .container .bottom .icon {
  cursor: pointer;
}
#phone__container .phone .container .bottom .icon.circle {
  position: relative;
}
#phone__container .phone .container .bottom .icon.circle::after {
  content: "";
  border: 2px solid #fff;
  width: 13px;
  height: 13px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#phone__container .phone .container .bottom .icon.arrow, #phone__container .phone .container .bottom .icon.bar {
  opacity: 0;
  transition: all 0.3s ease-out;
}
#phone__container .phone .container .bottom .icon.arrow {
  font-size: 2rem;
}
#phone__container .phone .container .bottom .icon.bar {
  transform: rotate(90deg);
}
#phone__container .phone .container .message__notify {
  position: absolute;
  top: 2.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--zindex-1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-out;
}
#phone__container .phone .container .message__notify.active {
  opacity: 1;
  pointer-events: all;
}
#phone__container .phone .container .message__notify .message__notify__icon,
#phone__container .phone .container .message__notify .message__notify__text {
  color: #fff;
  font-size: 0.6rem;
  font-weight: 500;
}
#phone__container .phone .container .message__notify .message__notify__icon {
  padding-right: 0.3rem;
}
@-webkit-keyframes toTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes toTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes toBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes toBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes vibrate {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-1px);
  }
  40%, 80% {
    transform: translateX(1px);
  }
}
@keyframes vibrate {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-1px);
  }
  40%, 80% {
    transform: translateX(1px);
  }
}/*# sourceMappingURL=phone.css.map */