@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('../components/phone/phone.css');
@import url('../components/initial_screen/initial_screen.css');
@import url('../components/config/config.css');
@import url('../components/alarm/alarm.css');
@import url('../components/calculator/calculator.css');
@import url('../components/video/video.css');
@import url('../components/player/player.css');
@import url('../components/weather/weather.css');
@import url('../components/menu/menu.css');
@import url('../components/game/game.css');
@import url('../components/calendar/calendar.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}